extends layout.pug

block content

    div(class="header mb-3")
        span(class="mr-2")= info.type
        span= info.version
        span= ", Memory used: " + mem + " bytes"



    h3 pipelines
    include objects.mixin.pug
    +objects(pipelines)




